* { margin: 0;
    padding: 0;
    
   }
 
 body {
    font-family: Arial, sans-serif;
    background-color: black;
    text-align: center;

 }
 
 nav{
    position:fixed;
    left:0;
    top:0;
    height:75px;
    width:100%;
    background:rgb(12, 13, 8);
    box-shadow:0 5px 10px rgba(206, 113, 20, 0.84);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
 
 }
 .navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  flex-wrap: wrap;
  
 }
 
 nav.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 100%;
  width: 90%;
  background: rgb(161, 117, 58);
  margin: auto;
  padding: 0 5px; 
  position: fixed;
  top: 0;
  left: 0;
 }
 
 .logo {
   font-size: 2.5rem;
   font-family: "Lucida Handwriting";
   font-weight: bold;
   color: #ff7b00;
 }
 nav .navbar button{
    color: #ff7b00;
    background-color:transparent;
    font-size:30px;
    font-weight:600;
    text-decoration: none;
    margin-right: 150px;
    border: none;
    padding:none;
 }
 
 .navbar .menu {
  display: flex;
  gap: 50px; 
 }
 .navbar .menu li{
 list-style:none;
 margin-top: 10px;
 
 }
 .navbar .menu li a{
    color: #ff7b00;
    font-size:20px;
    font-weight:500;
    text-decoration: none;
 
 }
 .navbar, .header__image img {
  max-width: 100%;
  box-sizing: border-box;
 }
 
 
 .dropdown{
    bottom: 10px;
    left: 5px;
    margin-top: 10px;
 }
 
 
 header{
  background-color: rgb(0, 0, 0);
 }

 .header__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .header__image img {
    height: 500px;
    width: 900px;
    max-width: 100%;
  }
  .header__content h4{
   color: #9d754f;
  }
  
  h1 span1{
   color: #774b22;
  }
 
 .Home {
  margin: auto;
  padding:none;
 }


 .header__image {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
  
 }
 
 .header__image img {
    margin-top:20px;
    margin-bottom: 20px;
   height:900px;
   width: 900px;
   
 }

 
 
